

.contact-icon{
    display: flex;
    align-self: center;
    justify-self: center;
    background-color: var(--SecondaryColor);
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    position: relative;
    transition: all .3s ease-in-out;
}
.icon{
    align-self: center;
   
    justify-self: center;
}
.contact-icon::before{
   content: "";
  top: -1.5rem;
  left: -1.5rem;

    width: 15rem;
    height: 15rem;
    border: 4px #5CB338 solid ;
    border-radius: 50%;
    position: absolute;
    animation: RingBounce .8s linear infinite;

}
.contact-icon::after{
   content: "";
   top: -4rem;
  left: -4rem;
    width: 20rem;
    height: 20rem;
    border: 4px #5CB338 solid ;
    border-radius: 50%;
    position: absolute;
    animation: RingBounce .8s linear infinite ;
    
}



@keyframes RingBounce {
    0%{
        transform: scale(0);
    }
    90%{
         transform: scale(1.2);
    }
    100%{
         transform: scale(0);
    }
}