.key-container{
    background-color: var( --PrimaryColor);
    color: var(--SecondaryColor);
   display: grid;
    grid-template-columns: repeat(3, 1fr);
  

    padding-left: var(--bodyPadding);
    padding-right: var(--bodyPadding);
    padding-top: 20rem;
    padding-bottom: 20rem;
    align-self: center;
    justify-items: center;
    
}
@media screen and (max-width: 600px) {
  .key-container{
    margin-top: -50rem;
    background-color: var( --PrimaryColor);
    color: var(--SecondaryColor);
   display: flex;
   flex-direction: column;
    padding-left: var(--bodyPadding);
    padding-right: var(--bodyPadding);
    align-self: center;
    justify-items: center;
    
}
.key-card{
  padding: 2rem;
}
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  .key-container{
    margin-top: -50rem;
    background-color: var( --PrimaryColor);
    color: var(--SecondaryColor);
   display: flex;
   flex-direction: column;
    padding-left: var(--bodyPadding);
    padding-right: var(--bodyPadding);
    align-self: center;
    justify-items: center;
    
}
.key-card{
  padding: 2rem;
  width: 100%;
 
}
}