.projectPage{
    background-color: var(--PrimaryColor);

}
.projectHeading {
  color: var(--SecondaryColor);
  font-family: "Source Serif 4", serif;
  font-weight: 900;
  font-size: 6rem;
  align-self: center;
  justify-self: center;
  padding: 7rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
}

.project {
  height: 100vh;
  color: var(--SecondaryColor);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5rem;
  gap: 2rem;
}
